<!-- core/templates/landing.html -->
<!doctype html>
<html lang="en">
  {% include 'base.html' %}
  <body>
    <h1 class="main-title">PALMA</h1>
    <nav class="shop-bar">
      <a class="shop" href="/samples/">samples</a>
      <a class="shop" href="/drumkits/">drumkits</a>
      <a class="shop" href="/plugins/">plugins</a>
    </nav>
    <nav class="showcase-bar">
      <a class="showcase" href="/contact/">contact</a>
      <br />
      <a class="showcase" href="/listen/">listen</a>
    </nav>
  </body>
</html>
