<!-- core/templates/landing.html -->
<!doctype html>
{% load static %}
<html lang="en">
  {% include 'base.html' %}
  <body>
    <h1 class="mini-title">PALMA</h1>

    <div class="icon-links">
      <a
        href="https://open.spotify.com/artist/5arfYeRczWtKre7ptGoEXp"
        target="_blank"
      >
        <img
          src="{% static 'icons/spotify-icon.svg' %}"
          alt="spotify"
          class="icon-svg"
        />
      </a>
      <a href="https://open.spotify.com/artist/5arfYeRczWtKre7ptGoEXp">
        <img
          src="{% static 'icons/youtube-icon.svg' %}"
          alt="Email"
          class="icon-svg"
        />
      </a>
    </div>
<div class="track-grid">
  {% for track in tracks %}
    <div class="track">
      <a href="{{ track.external_urls.spotify }}" target="_blank">
        <img src="{{ track.album.images.0.url }}" alt="{{ track.name }}" class="album-art"/>
        <p class = "song-title"><strong>{{ track.name }}</strong></p>
        <p class = "artist-list">
          {% for artist in track.artists %}
            {{ artist.name }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
      </a>
    </div>

  {% endfor %}    
<a class="home-button" href="/">home</a>

	</body>
</html>
