body {
  background-color: #211e17;
  color: #eee;
  font-family: sans-serif;
  text-align: center;
  padding: 0rem;
}

h1 {
  font-family: "Metal Mania", cursive;
  filter: blur(1px);
  color: #ed1c32;
  text-shadow: 0px 4px 0 #fefcc1;
  margin-bottom: 1rem;
  font-size: 9rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  margin-bottom: 2rem;
}

nav a,
a {
  font-size: 1.5rem;
  font-family: "Orbitron", cursive;
  margin-bottom: 0.2rem;
  margin-right: 0.6rem;
  text-decoration: none;
}

.main-title {
  font-size: 13rem;
}

.mini-title {
  font-size: 3.5rem;
}

.shop-bar {
  filter: blur(1px);
  gap: 6.5rem;
}

.showcase-bar {
  filter: blur(1px);
  gap: 11.4rem;
}

.shop {
  color: #623b89;
}

.showcase {
  color: #fefcc1;
}

.shop-bar-specific {
  filter: blur(1px);
  gap: 11.4rem;
}

.home-button {
  color: #fefcc1;
  font-size: 1.5rem;
  position: fixed;
  bottom: 3%;
  transform: translateX(-50%);
  filter: blur(1px);
}

.thin-bar {
  box-shadow: 4px 4px 0 #fefcc1;
  position: absolute;
  bottom: 30%;
  left: 50%; /* Center origin */
  transform: translateX(-50%);
  filter: blur(3px);
  width: 90%;
  height: 30px; /* Thin */
  background-color: #ed1c32; /* Or #fff, #ff6666, etc */
  opacity: 0.7; /* Optional transparency */
}

.icon-links {
  display: flex;
  justify-content: center;
  gap: 18rem;
  margin-top: 12rem;
}

.page-links {
}

.icon-svg {
  filter: blur(1px);
  width: 85px;
  height: 85px;

  transition: transform 0.2s ease;
}

.icon-svg:hover {
  transform: scale(1.01);

  filter: blur(1px);
}

.track {
  width: 260px;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  filter: none !important;
}

.track:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  filter: none !important;
}

.track-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  margin: 5rem auto;
  max-width: 1200px;
}

.track p {
  color: #fff;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  line-height: 1.2;
}

.album-art {
  width: 100%;
  height: auto;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}
